

.navStyle{
  overflow: hidden;
  background-color:white;
  border-bottom: 2px solid #D97852;
  text-align: right; /* Выравнивание по правому краю */
 
  
}

.navStyle a {
  display: inline-block; /* Размещение элементов в одной строке */
  color:#191514;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navStyle a:hover {
  background-color: #ddd;
  color: black;
}

