

.navStyle{
  overflow: hidden;
  margin-top:0;
  border-bottom: 2px solid #D97852;
  text-align: right; /* Выравнивание по правому краю */
 
  
}

.navStyle a {
  display: inline-block; /* Размещение элементов в одной строке */
  color:var(--greyBrown);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--font);
  text-transform: uppercase;
}

.navStyle a:hover {
  background-color: #ddd;
  color: black;
}

