
.headerStyle{
display: flex;
justify-content: space-between;
h1{
    font-family: var(--font);
    font-weight: 900;
    font-size: 4rem;
    color: #D97852;
    text-transform: uppercase;
    text-decoration: none;
}
}