
.footer{
    border-top: 1px;
	margin-top: 1rem;
	padding-top: 1rem;
	display: flex;
	font-size: 0.8rem;	
	// justify-content: space-between;

	h3 {
		font-size: 1rem;
		text-transform: uppercase;
		
	}

	address {
		font-style: normal;
	}

	
}