.footerStyle{
    display:flex;
    margin-top: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
    font-size: 0.8rem;



    h2{
        font-size: 1rem;
        text-transform: uppercase;
    }

    address{
        font-style:normal;
    }
}