@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;900&display=swap');

:root{
    /* Colors: */
--brown: #5C1F06;
--orange: #D97852;
--greyBrown: #524641;
--silver: #707070;
--skincolor: #D1B3A7;
--beige: #A68E85;
--white: #f9f9f9;

/*font*/
--font: 'Titillium Web', sans-serif;
}